* {
    /* border: 1px solid black; */
}

body {
    align-items: center;
    justify-content: center;
    color: #1F2122;
    background-color: #f1f1f1;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section.header {
    background-color: #1F2122;
}

.content {
    width: 1000px;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.content.header {
    height: 25px;
    justify-content: space-between;
    color: #f1f1f1;
}

.section.footer {
    height: 25px;
    background-color: #1F2122;
}

.content.footer {
    text-align: center;
    font-size: 12px;
    color: #f1f1f1;
}

ul, a {
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    text-decoration-line: none;
    color: #f1f1f1;
}

a:hover {
    color: #959594;
}

.content.updates {
    justify-content: space-between;
}

.notam h2 {
    margin-bottom: -15px;
}

.content.bullets {
    flex-direction: column;
    align-items: baseline;
}

.bullets input {
    width: 900px;
}

.bullets h2 {
    margin-bottom: -1px;
}