* {
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.section.header {
    height: 300px;
    display: flex;
    justify-content: space-between;
    background-color: #5894F2;
}

.title {
    font-size: 42px;
}

ul {
    display: flex;
    gap: 30px;
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}